/*============  variables =======*/
body {
  font-family: "Lato";
  color: #5a5a5a;
  font-size: 16px;
  line-height: 35/16;
}

a {
  color: #5a5a5a;
}

.text-center {
  text-align: center;
}

.cookie {
  height: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #194277;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.cookie__title {
  color: white;
  font-weight: bold;
}
.cookie__btn {
  min-width: 110px;
  color: #194277;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 25px;
  background-color: white;
  margin-left: 50px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.drop-up {
  transform: translateY(-100%);
  transition: all 0.5s;
}

.intro {
  min-height: 100vh;
  background-image: url("../img/intro_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 15px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.intro-container h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: auto;
}
.intro-container .subtitle {
  text-align: center;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: auto;
}

.button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: #348FF4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
}

.intro-btn {
  margin-top: auto;
}

.arrow-down {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 9.5px);
}

.header {
  padding-top: 30px;
}
.header-row {
  justify-content: flex-end;
}
.header .hamburger .line {
  width: 42px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.header .hamburger:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .md {
    max-width: 810px;
  }
}
.md .modal-content {
  max-width: 810px;
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 396px) {
  .md .modal-content {
    width: 300px;
  }
}
.md .modal-content .close_box {
  width: 100%;
}
.md .modal-content .close_box .close {
  font-size: 3.85em;
  margin-right: 20px;
}
.md .modal-content .modal_container {
  padding: 0 150px;
}
.md .modal-content .modal_container .modal_title {
  margin-bottom: 60px;
  text-align: center;
}
.md .modal-content .modal_container .fieldset {
  width: 100%;
  min-width: 200px;
  padding-left: 20px;
  border: 1px solid #b7c0c9;
  border-radius: 5px;
}
.md .modal-content .modal_container .user_fieldset {
  height: 45px;
  margin-bottom: 20px;
}
.md .modal-content .modal_container .area_fieldset {
  width: 100%;
  height: 180px;
  margin-bottom: 45px;
  padding-top: 15px;
  resize: none;
}
.md .modal-content .modal_container .modal_btn {
  background-color: #3677fd;
  color: #fff;
  border: none;
}

@media (max-width: 396px) {
  .big-modal {
    width: 300px;
  }
}

.big_modal-dialog {
  max-width: 1170px;
}

.modal-btn {
  width: 42px;
  height: 42px;
  align-self: flex-end;
}
.modal-btn span {
  font-size: 40px;
}

.hire-contaier {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  margin: 0 auto;
}
@media (max-width: 396px) {
  .hire-contaier {
    width: 200px;
  }
}
.hire-contaier .box_links {
  margin-top: 80px;
}
@media (max-width: 396px) {
  .hire-contaier .box_links {
    margin-top: 5px;
  }
}
.hire-contaier .box_links .h2_modal {
  color: #d2d2d2;
}
@media (max-width: 396px) {
  .hire-contaier .box_links .h2_modal {
    font-size: 25px !important;
  }
}
.hire-contaier .box_links .h2_modal:hover {
  text-transform: none;
  color: #3677fd;
}
.hire-contaier hr {
  background-color: #D1D9E4;
  margin: 75px auto;
  height: 1px;
  width: 100%;
}
@media (max-width: 576px) {
  .hire-contaier hr {
    width: 200px;
  }
}
.hire-contaier .social {
  margin-bottom: 80px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 396px) {
  .hire-contaier .social {
    padding: 0 30px;
  }
}
.hire-contaier .social .minibox {
  width: 50px;
  height: 50px;
}
.hire-contaier .social .minibox .social_link {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}
.hire-contaier .social .minibox .social_link:hover {
  background-color: #3677fd;
}

.switch_lang {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-right: 5px;
}
.switch_lang .switch_btn {
  border: none;
  background-color: transparent;
  color: #d2d2d2;
}
.switch_lang img {
  margin-left: 5px;
}

.sun {
  margin-top: auto;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.about {
  min-width: 400px;
  padding: 100px 0px;
  background-color: #FFFFFF;
}
@media (max-width: 396px) {
  .about {
    min-width: auto;
  }
}
.about-row {
  display: flex;
  justify-content: center;
  text-align: center;
}
.about-row h2 {
  margin-bottom: 65px;
}

.h2 {
  color: #3677fd;
  font-weight: 100 !important;
  font-size: 50px !important;
}

.expert {
  padding: 100px 0px;
  background-color: #F1F8FF;
}
.expert-row {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-row__item {
  min-height: 350px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-row__item .h2 {
  margin-top: 65px;
  margin-bottom: 30px;
  font-size: 24px !important;
  font-weight: normal !important;
  text-transform: uppercase;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #B9C2CA;
  width: 140px !important;
  height: 140px;
  border-radius: 50% !important;
}

.card-descr {
  text-align: center;
}

.footer {
  background-image: url(../img/intro_bg.png);
  height: 145px;
  display: flex;
  align-items: center;
}
.footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 575px) {
  .footer .row {
    flex-direction: column;
  }
}
.footer .row .footer__description {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 991px) {
  .footer .row .footer__description {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .footer .row .footer__description {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .footer .row .footer__description {
    font-size: 20px;
  }
}
@media (max-width: 345px) {
  .footer .row .footer__description {
    font-size: 15px;
  }
}
.footer .row .footer__description span {
  font-weight: 700;
}

.works {
  padding-bottom: 125px;
}
.works__img {
  margin-bottom: 60px;
}
.works__img img {
  width: 100%;
  height: 100%;
}

.works-title {
  padding-top: 100px;
  margin-bottom: 100px;
}

.clients {
  background-color: #F1F8FF;
  padding: 90px 0;
}

.clients-title {
  margin-bottom: 70px;
}

.clients-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .clients-logo .client-logo_img {
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .clients-logo {
    justify-content: space-between;
    flex-direction: column;
  }
  .clients-logo .client-logo_img {
    margin-bottom: 20px;
  }
}