
/*============  variables =======*/
$text-color: #5a5a5a;
$text-light: #fff;
$main-color: #3677fd;

body {
    font-family: "Lato";
    color: $text-color;
    font-size: 16px;
    line-height: 35/16;
}
a {
    color: $text-color;
}

.text-center {
    text-align: center;
}

.cookie{
    min-height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #194277;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    &__title{
        color: white;
        font-weight: bold;
    }
    &__btn{
        min-width: 110px;
        color: #194277;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-radius: 25px;
        background-color: white;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }
}

.drop-up{
    transform: translateY(-100%);
    transition: all .5s;
}

.intro{
    min-height: 100vh;
    background-image: url('../img/intro_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 15px;
}

.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    h1{
        text-align: center;
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: auto;
        @media screen and (max-width: 500px) {
            font-size: 30px;
        }
    }
    .subtitle{
        text-align: center;
        color: white;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: auto;
    }
}

.button{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #348FF4;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    cursor: pointer;
}

.intro-btn{
    margin-top: auto;
}

.arrow-down{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 9.5px);
}


.header{
    padding-top: 30px;
    &-row{
        justify-content: flex-end;
    }

    .hamburger .line{
        width: 42px;
        height: 3px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      .hamburger:hover{
        cursor: pointer;
      }
}

 .md{
      @media (min-width: 576px){
          max-width: 810px;
      }
     .modal-content {
         max-width: 810px;
         width: 100%;
         height: 620px;
         display: flex;
         flex-direction: column;
         align-items: center;
         @media (max-width: 396px) {
            width: 300px;
         }
         .close_box{
             width: 100%;
             .close {
                 font-size: 3.85em;
                 margin-right: 20px;
             }
         }
         .modal_container {
             padding: 0 150px;
             .modal_title {
                 margin-bottom: 60px;
                 text-align: center;
             }
             .fieldset {
                 width: 100%;
                 min-width: 200px;
                 padding-left: 20px;
                 border: 1px solid #b7c0c9;
                 border-radius: 5px;
             }
             .user_fieldset {
                 height: 45px;
                 margin-bottom: 20px;
             }
             .area_fieldset {
                 width: 100%;
                 height: 180px;
                 margin-bottom: 45px;
                 padding-top: 15px;
                 resize: none;
             }
             .modal_btn {
                 background-color: $main-color;
                 color: $text-light;
                 border: none;
             }
         }
     }
 }
.big-modal{
    @media (max-width: 396px) {
        width: 300px;
    }
}

.big_modal-dialog{
    max-width: 1170px;
}

.modal-btn{
    width: 42px;
    height: 42px;
    align-self: flex-end;
    span{
        font-size: 40px;
    }
}

.hire-contaier{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 0 auto;
    @media (max-width: 396px) {
        width: 200px;
    }
    .box_links{
        margin-top: 80px;
        @media (max-width: 396px) {
            margin-top: 5px;
         }

        .h2_modal {
            color: #d2d2d2;
            @media (max-width: 396px) {
                font-size: 25px !important;
             }
        }
        .h2_modal:hover {
            text-transform: none;
            color: $main-color;
        }
    }
    hr{
       background-color: #D1D9E4;
       margin: 75px auto;
       height: 1px;
       width: 100%;
       @media (max-width: 576px) {
        width: 200px;
     }
    }
    .social {
        margin-bottom: 80px;
        padding: 0 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 396px) {
            padding: 0 30px;
         }
        .minibox {
            width: 50px;
            height: 50px;                  
            .social_link {
                width: 100%;
                height: 50px;
                border-radius: 50%;
                font-weight: 400;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #e1e1e1;
                
                
            }
            .social_link:hover{
                background-color: $main-color;
            }
        }
    }
}
.switch_lang {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-right: 5px;
    .switch_btn {
        border: none;
        background-color: transparent;
        color: #d2d2d2;
    }
    img{
        margin-left: 5px;
    }
}
    
.sun{
    
    margin-top: auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);;
}


.about{
    min-width: 400px;
    padding: 100px 0px;
    background-color: #FFFFFF;
    @media (max-width: 500px) {
        padding: 50px 0px;
    }
    @media (max-width: 396px) {
        min-width: auto;
     }

    &-row{
        display: flex;
        justify-content: center;
        text-align: center;
        
        h2{
            margin-bottom: 65px;
            @media (max-width: 500px) {
                margin-bottom: 35px;
            }
        }
    }
}

.h2{
    color: $main-color;
    font-weight: 100 !important; 
    font-size: 50px !important;
}

.expert{
    padding: 100px 0px;
    background-color: #F1F8FF;

    @media (max-width: 500px) {
        padding: 30px 0px;
     }

    &-row{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.card-row__item{
    min-height: 350px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .h2{
        margin-top: 65px;
        margin-bottom: 30px;
        font-size: 24px !important;
        font-weight: normal !important;
        text-transform: uppercase;
        
    }
    @media (max-width: 500px) {
        margin-top: 35px;
    }
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B9C2CA;
    width: 140px !important;
    height: 140px;
    border-radius: 50% !important;
}

.card-descr{
    text-align: center;
}
.footer {
    background-image: url(../img/intro_bg.png);
    height: 145px;
    display: flex;
    align-items: center;
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 575px) {
            flex-direction: column;
        }

        @media (max-width: 345px) {

        }
        .footer__description {
            font-size: 50px;
            font-weight: 300;
            color: $text-light;

            @media (max-width: 991px) {
                font-size: 40px;
            }
            @media (max-width: 768px) {
                font-size: 30px;
            }

            @media (max-width: 575px) {
                font-size: 20px;
            }
            
            @media (max-width: 345px) {
                font-size: 15px;
            }

            span{
                font-weight: 700;
            }
        }

    }
}
.works{
    padding-bottom: 125px;

    @media (max-width: 500px) {
        padding-bottom: 30px;
    }
    &__img{
        margin-bottom: 60px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}



.works-title{
    padding-top: 100px;
    margin-bottom: 100px;
    @media (max-width: 500px) {
        padding-top: 30px;
        margin-bottom: 30px;
    }
}

.clients{
    background-color: #F1F8FF;
    padding: 90px 0;
    @media (max-width: 500px) {
        padding: 30px 0;
    }
}

.clients-title{
    margin-bottom: 70px;
    @media (max-width: 500px) {
        margin-bottom: 40px;
    }
}

.clients-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 992px) {
        .client-logo_img {
            margin: 10px;
        }
    }
    @media (max-width: 768px) {
        justify-content: space-between;
        flex-direction: column;
        .client-logo_img {
            margin-bottom: 20px;
        }
    }
}