
/*============  variables =======*/
$text-color: #5a5a5a;
$text-light: #fff;
$main-color: #3677fd;

body {
    font-family: "Lato", sans-serif;
    color: $text-color;
    font-size: 16px;
    line-height: 35/16;
}
a {
    color: $text-color;
}

.text-center {
    text-align: center;
}


.intro{
    min-height: 100vh;
    background-image: url('../img/intro_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    h1{
        text-align: center;
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: auto;
    }
    .subtitle{
        text-align: center;
        color: white;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: auto;
    }
}

.button{
    width: 200px;
    height: 50px;
    background-color: white;
    color: #348FF4;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.intro-btn{
    margin-top: auto;
}

.arrow-down{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 9.5px);
}


.header{
    padding-top: 30px;
    &-row{
        justify-content: flex-end;
    }

    .hamburger .line{
        width: 42px;
        height: 3px;
        background-color: #ecf0f1;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      .hamburger:hover{
        cursor: pointer;
      }
}

.sun{
    
    margin-top: auto;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);;
}


.about{
    min-width: 400px;
    padding: 100px 0px;
    background-color: #FFFFFF;

    &-row{
        display: flex;
        justify-content: center;
        text-align: center;
        
        h2{
            margin-bottom: 65px;
        }
    }
}

.h2{
    color: $main-color;
    font-weight: 100 !important; 
    font-size: 50px !important;
}

.expert{
    padding: 100px 0px;
    background-color: #F1F8FF;

    &-row{
        display: flex;
        justify-content: center;
        text-align: center;

        
        
    }
}

.card-row__item{
    min-height: 350px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .h2{
        margin-top: 65px;
        margin-bottom: 30px;
        font-size: 24px !important;
        font-weight: normal !important;
        text-transform: uppercase;
    }
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B9C2CA;
    width: 140px !important;
    height: 140px;
    border-radius: 50% !important;
}

.card-descr{
    text-align: center;
}

.works{
    padding-bottom: 125px;

    &__img{
        margin-bottom: 60px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}



.works-title{
    padding-top: 100px;
    margin-bottom: 100px;
}

.clients{
    background-color: #F1F8FF;
    padding: 90px 0;
}

.clients-title{
    margin-bottom: 70px;
}

.clients-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}